<% content_for :top_content do %>
<div class="container">
  <div class="jumbotron" align="center">
    <h1 align="center">MAKERERE UNIVERSITY</h1>
    <%= image_tag("logo.jpg") %>
    <h2 align="center">COLLEGE OF COMPUTING AND INFORMATION</h2>
    <h2 align="center">SCIENCES</h2>
    <h2 align="center">DEPARTMENT OF COMPUER SCIENCE &</h2>
    <h2 align="center">DEPARTMENT OF SOFTWARE ENGINEERING </h2>
    <p> CSC 2100 Data Structures and Algorithms</p>
    <p><strong>Description:</strong></p>
    <p>The course gives students a firm foundation of data structures and algorithms. The course trains students on systematic development and analysis of algorithms.  The importance of algorithm complexity on computer performance is emphasized. Typical computational problems and their solutions/analysis are to be covered.</p>
    <div>
      <p><strong>Aims</strong></p>
      <p>
      The aims of the course are to
      </p>
      <p>
      • Make students appreciate the role of data structures and algorithms in computer programs;
      </p>
      <p>
      • Improve students’ problem solving skills by subjecting them to step by step analysis and design of computer algorithms;
      </p>
      <p>
      • Introduce students to concepts Data structures;
      </p>
      <p>
      • Introduce students to concepts of algorithm analysis;
      </p>
      <p>
      • To expose students generic algorithmic problems and apply them to other computational scenarios.
      </p>
    </div>
    <div>
      <p><strong>Teaching and Learning pattern</strong></p>
      <p>The teaching pattern is by lecture, practical lab work, group discussion and class presentations.</p>
    </div>
    <div>
      <p><strong>Assessment method</strong></p>
      <p>The assessment will be done by tests/assignment (40%) and final examination (60%)</p>
      <p><strong>Reading List</strong></p>
      <p>(i) Data Structures and Algorithms in Java by Michael T. Goodric SIXTH Edition 2014</p>
      <p>(ii) Data Structures and Algorithm Analysis in Java  by Mark Allen Weiss  Third Edition 2012</p>
      <p>(iii) Problem Solving with Algorithms and Data Structures Release 3.0 by Brad Miller, David Ranum 2013</p>
    </div>
    <p>
    <%= link_to 'Course Content >>', index_path, class: 'btn btn-primary btn-lg' %>
    </p>
  </div>
</div>
<% end %>